################################################################################
#                                                                              #
#   This "config" file is sourced by various scripts that run the mirror,      #
#   including the installer.  This means the syntax for defining these         #
#   variables is straight bash.  They are all required.                        #
#                                                                              #
#   Also, I am being lazy and **NOT** doing proper validation these            #
#   variables, so **READ** and set them carefully.  You have been warned!      #
#                                                                              #
################################################################################


#---
# This should be the primary hostname or vanity name you give the HTTP server.
# It is also used as the CN and first SAN when prepopulating the SSL configs.
# If you don't want to bother with vanity names, use the FQDN of the host, e.g.
# `hostname -f` and then leave the aliases array empty.  However, one of these
# two should at least contain the output of `hostname -f`.

#MIRROR_HTTPD_SERVER_NAME='mirror.example.com'
MIRROR_HTTPD_SERVER_NAME=''


#---
# This **ARRAY** should be all the other aliases the server should answer.  If
# you have a vanity name, this should at least contain the FQDN of the server.

#MIRROR_HTTPD_SERVER_ALIAS=(
#  'myservername01.example.com'
#)
MIRROR_HTTPD_SERVER_ALIAS=()


#---
# The base path for the project files.  Don't add a trailing slash.

#MIRROR_BASE_PATH='/srv/mirror'
MIRROR_BASE_PATH='/srv/mirror'


################################################################################

export MIRROR_HTTPD_SERVER_NAME
export MIRROR_HTTPD_SERVER_ALIAS
export MIRROR_BASE_PATH
