INCLUDE pxelinux.cfg/main-menu.cfg/common

MENU TITLE Custom OS installations
MENU MASTER PASSWD yes

LABEL return
  MENU LABEL ^Back to the main menu
  KERNEL menu.c32
  APPEND pxelinux.cfg/main-menu

MENU COLOR disabled 33;40
MENU SEPARATOR
LABEL -
  MENU LABEL WARNING! Password="yes" ...as in, I know what I'm doing.
  MENU DISABLE
MENU SEPARATOR

################################################################################
