INCLUDE pxelinux.cfg/main-menu.cfg/common

MENU TITLE Troubleshooting tools

LABEL return
  MENU LABEL ^Back to the main menu
  KERNEL menu.c32
  APPEND pxelinux.cfg/main-menu

MENU SEPARATOR

################################################################################

LABEL memtest
  MENU LABEL Memtest 5.01
  KERNEL images/memtest86+-5.01

################################################################################
