INCLUDE pxelinux.cfg/main-menu.cfg/common

MENU TITLE Vanilla OS installations

LABEL return
  MENU LABEL ^Back to the main menu
  KERNEL menu.c32
  APPEND pxelinux.cfg/main-menu

MENU SEPARATOR

################################################################################
